In [36]:
import pandas as pd

In [37]:
data=pd.read_csv("/Users/prasanna/Downloads/train.csv")

In [38]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [39]:
data.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [40]:
data2 = pd.DataFrame(data)

In [41]:
data2['Mileage'] = data2['Mileage'].str.extract('(\d+\.\d+)').astype(float)

In [42]:
data2['Engine'] = data2['Engine'].str.replace(' CC', '').astype(float)

In [43]:
data2['Power'] = data2['Power'].str.extract('(\d+\.\d+)').astype(float)

In [44]:
data2['New_Price'] = data2['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [45]:
data2['Mileage'].fillna(data2['Mileage'].median(),inplace=True)

In [46]:
data2['Engine'].fillna(data2['Engine'].median(),inplace=True)

In [47]:
data2['Power'].fillna(data2['Power'].median(),inplace=True)

In [48]:
data2['Seats'].fillna(data2['Seats'].mode()[0],inplace=True)

In [49]:
data2.drop('New_Price', axis=1, inplace=True)

In [50]:
output_csv_file = '/Users/prasanna/Downloads/cleaned_data.csv'

In [51]:
data2.to_csv(output_csv_file, index=False)

In [52]:
cleanData=pd.read_csv("/Users/prasanna/Downloads/cleaned_data.csv")

In [53]:
cleanData.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [54]:
cleanData['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [55]:
cleanData['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [56]:
cleanData['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [57]:
cleanData['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)

In [58]:
cleanData['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)

In [59]:
cleanData['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

In [60]:
cleanData.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50

In [61]:
output_csv_file = '/Users/himajachalla/prasanna/encoded_data.csv'

In [62]:
cleanData.to_csv(output_csv_file, index=False)

In [63]:
from datetime import datetime

In [64]:
current_year = datetime.now().year

In [65]:
cleanData['Current_Age'] = current_year - cleanData['Year']

In [66]:
output_csv_file = '/Users/prasanna/Downloads/mutation_data.csv'

In [67]:
cleanData.to_csv(output_csv_file, index=False)

In [68]:
mutationData=pd.read_csv("/Users/prasanna/Downloads/mutation_data.csv")

In [69]:
mutationData.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,8
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,12
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,11
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,10
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,10